
body{
font-family : Arial;
}

#main{
}

ul#menu li{
	float:left;
	padding-left: 20px;
}

ul#menu li a{
	text-decoration:none;
	color: red;
	font-size: 20px;
}

#backgroundDisplay{
	position:relative;
	background-color:#666666;
	width: 600px;
	height: 600px;
	margin:auto;
	display:block;
}

.buttonAnima{
}

#buttonSection{
	opacity:0.7;
	position: absolute;
	background-color:  #666666;
	background-repeat: 	no-repeat;
	border:none;
	margin:270px 270px;
	width: 60px;
	height: 60px;
	display:inline-block;
}


